{% extends 'banner.html.twig' %}
{% block content %}
            <section id="movie_details">
                <div class="left_container">
                    <img id="movie_view_image" src={{ movie_image }}>
                </div>
                <div class="right_container">
                    <h1>{{ title }}</h1>
                    <h2>Genre</h2>
                    <p>{{ genre }}</p>
                    <h3>Cast</h3>
                    <p>{{ cast }}</p>
                    <h4>Director</h4>
                    <p>{{ director }}</p>
                    <h5>Release Date</h5>
                    <p>{{ release_date }}</p>
                    <h5>Age Rating</h5>
                    <p>{{ age_rating }}</p>
                    <nav class=''>
                        <a class='tag-search' href='{{ favourites_action }}
                        ?favourite={{ film_id }}&fav_action={{ fav_action }}'>
                            {{ favourites_value }}</a>
                    </nav>
                </div>
            </section>
{% endblock %}